.users {
	list-style-type: none;
	margin-left: -17px;
}

.btn-ga {
	width: 300px;
	text-align: left;
	padding: 10px;
	margin-bottom: 5px;
}

.btn-ga i {
	margin: 0 5px 0 -5px;
	color: green;
	visibility: hidden;
}

.users input {
	visibility: hidden;
}

.users input:checked + .btn-ga i {
	visibility: visible;
}

#google_assistant_wrapper ul {
	columns: 2;
}
