<div id="google_assistant_wrapper">
	<div class="hero-unit well">
		<h2>{{ i18n.ga.welcome }}</h2>
		<p>{{ i18n.ga.description }}</p>
		<ul class="users">
			{{#each users}}
				<li>
					<input type="checkbox" value="{{ this.id }}" />
					<button class="btn btn-ga">
						<i class="fa fa-check"></i>
						<b>{{ this.first_name }} {{ this.last_name }}</b> ({{this.username}})
					</button>
					
				</li>
			{{/each}}
		</ul>
		<a id="save-ids">
			<button class="btn btn-success">Save</button>
		</a>
	</div>
</div>
